.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  display: flex;
  padding: 3rem;
}

.editor {
  display: flex;
  width: 100%;
  gap: 3rem;
}

.inputArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: calc(100vh - 6rem);
}

.profilePreview {
  flex: 1;
  padding: 1.5rem;
  border: 1px solid var(--border);
  border-radius: 8px;
  background-color: var(--background);
  overflow-y: auto;
  max-height: calc(100vh - 6rem);
}

.input,
.textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--border);
  border-radius: 8px;
  background-color: var(--background);
  color: var(--text);
  font-family: var(--font-family);
  font-size: 1rem;
}

.input {
  margin-bottom: 1rem;
}

.textarea {
  flex-grow: 1;
  resize: none;
}

.button {
  padding: 1rem 1.5rem;
  background-color: var(--button);
  color: var(--text);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
  font-family: var(--font-family);
}

.button:hover {
  background-color: var(--button-hover);
}

.profilePreview h2,
.profilePreview h3 {
  color: var(--text);
  margin-top: 0;
}

.profilePreview ul {
  list-style-type: none;
  padding: 0;
}

.experienceItem {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  cursor: pointer;
  padding: 1rem;
  border: 1px solid var(--border);
  margin-bottom: 1rem;
  border-radius: 8px;
  background-color: var(--background);
  transition: background-color 0.3s ease;
}

.experienceItem:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.experienceItem > div {
  flex: 1;
}

.deleteButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: var(--text);
  font-size: 1.5rem;
  line-height: 1;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.deleteButton:hover {
  background-color: var(--button);
  color: var(--background);
}
